@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="welcome" class="section">
    <div class="welcome__wrap container flex">
        <div class="hero__welcome">
            <div class="center-elementXY">
                <h1 class="welcome__text">Hello World! <span class="" role="img" aria-label="waving">👋</span> </h1>
                <br />
                <h3 class="welcome__about-brief">
                    My name is Michiel Oppenheimer.  I'm a 🧬 cancer researcher by
                    day, and web and mobile developer by 👨‍💻 night.
                </h3>
                <br />
                <h3 class="welcome__about-brief">
                    Join me on my software journey
                </h3>
            </div>
        </div>
        <div class="welcome__image">
            <img src="./img/assets/hero-photo.jpg">
        </div>
    </div>
</section>
