@page "{pageIndex:int?}"
@model michieloppenheimer_io.web.Pages.Blog.IndexModel
@{
	ViewData["Title"] = "Home";
}

<section id="blog-section" class="section">
	<div class="blog__index container flex">
		<div class="content__padding">
			<h2 class="blog__headline">What I'm Reading, <br /> Learning,<br /> Coding, <br />and Exploring.</h2>

			@await Component.InvokeAsync("BlogGrid", new {
				pageIndex = Model.PageIndex,
				posts = Model.Posts
			})
		</div>
	</div>
</section>