<!-- Mobile header -->
<div id="header__mobile" class="header__mobile header">
    <div id="navbar__container" class="container">
        <nav class="nav__mobile-wrap flex">
            <div class="nav__mobile-left">
                <a class="nav__mobile-logo" asp-page="/index">
                    <img asp-append-version="true" src="~/img/assets/logo.png" width="40" height="20" alt="MO" />
                </a>
            </div>
            <div class="nav__mobile-right">
                <a href="#">
                    <span class="material-symbols-outlined mobile-menu">
                        menu
                    </span>
                </a>
            </div>
        </nav>
    </div>
</div>
<!-- Mobile header ends -->